# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Output files
output/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
